body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;

}

button {
    background-color: #3882F6;
    padding: 6px 18px;
    color: white;
    border-radius: 4px;
    border-width: 0px;
    font-size: 13px;
    font-weight: 600;
    flex-shrink: 0;

}

.first-block {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    flex-direction: column;
    min-height: 250px;
    padding: 10px 22%;
}

.text-image {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    gap: 30px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 30px
}

.upper-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    min-width: 350px;
}

.upper-text > p {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    max-width: 70%;
}

.upper-button {
    margin-top: 10px;
    width: default;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 80%;
}

.huge-img {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
}

.second-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    padding: 10px 20%;
}

.second-block-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 30px;
    text-align: center;
}

.dog-images {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 150px;
    margin-bottom: 70px;
}

.dog > p {
    text-align: center;
}

.big-img {
    border-radius: 10px;
    border: 3px #3882F6 solid;
    width: 150px;
    height: 150px;
}



.third-block {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    flex: 1;
    min-height: 250px;
    padding: 10px 20%;
    justify-content: center;
    align-items: center;
}

.quote-block {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 10px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: 900;
}



.fourth-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 250px;
    padding: 10px 20%;
}

.bottom-add {
    display: flex;
    background-color: #3882F6;
    padding: 35px 70px;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 15%;
}

.call-text {
    color: white;
}

.call-text-title {
    font-weight: 800;
    margin-bottom: 4px;
}

.call-text-line {
    font-weight: lighter;
}

.bottom-button {
    border-color: white;
    border-width: 1px;
    padding: 4px 18px;

}



.footer {
    display: flex;
    background-color: #1F2937;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #E5E7EB;
    font-size: 12px;
}

